<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1> Digite o nome do planeta </h1>
    <br>
    <form action="busca" method="POST">
        <div class="input-group mb-3">
            <input type="text" name="nome" class="form-control" placeholder="Buscar planeta" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="busca">Buscar</button>
        </div>
        <br>
        <h3>Digite um nome de planeta válido</h3>
        <hr>
     </form>
    {% endblock %}
</body>
</html>